/* Themes color option 1
-------------------------------------------------- */
.ic-ar-style1 {
  background-image:url(../img/img_ar_green.svg);
}
a:hover .ic-ar-style1 {
  background-image:url(../img/img_ar_violet.svg);
}
.ic-ar-style2{
  background-image:url(../img/img_ar_white.svg);
}
.bg-style1 {
  background:rgb(41,50,61);
}
.bg-style2 {
  background:#00E398;
}
.bg-style3 {
  background:#FFF;
}
.bg-style4 {
  background:#DFF8E6;
}
.bg-style5 {
  background:#FFF;
}
/* Nav
-------------------------------------------------- */

.jc-top-nav {
  background:#00E398;
}
.bsticky .jc-nav {
  background: rgba(41,50,61,0.95);
  padding: 5px 0px;
}
.jc-nav {
  background: rgb(41,50,61);
}
.dropdown-menu a.dropdown-item {
  color:#29323D
}
.dropdown-menu a:hover.dropdown-item {
  background:#8400E2;
  color:#fff;
  border-radius:0;
}
.btn-style1{
  background: #fff;
  color:#29323D
}
.btn-style2 {
  background: rgb(41,50,61);
  color:#fff
}
.btn-style3 {
  background: #00E398;
  color:rgb(41,50,61);
}
.bsticky .sub-login .btn-style1 {
  color: #00e398;
  border: 2px solid #00e398;
  background:transparent;
}
.bsticky .sub-login .btn-style2 {
  color: rgb(41,50,61);
  border: 2px solid #00e398;
  background:#00e398;
}
.btn-style1:hover, .btn-style2:hover,.btn-style3:hover, .btn-social-media:hover {
  background:#8400E2;
  color:#fff
}
.btn-style1.active, .btn-style2.active,.btn-style3.active, .btn-social-media.active {
  background:#8400E2;
  color:#fff
}
.btn-social-media {
  background: rgb(41,50,61);
  color:#fff
} 
.jc-nav ul li a{
  color:#fff;
}
.jc-nav ul li.active a  {
  background: #8400E2;
}

.jc-nav ul li.active .dropdown-menu a{
  background: transparent 
}
.jc-nav ul li.active .dropdown-menu a.dropdown-item.active {
  background: #8400E2 !important;
  border-radius:0;
  color:#fff;
}
.jc-nav ul li a:hover {
  background: #8400E2;
}
.jc-slider-wrap {
  background: rgb(41,50,61);
}
.jc-landing h1 {
  color:#00E398
}
.jc-landing p {
  color:#fff
}
.jc-landing a {
  color:#00E398
}

.jc-landing a:hover {
  color:#8400E2;
}
.jc-section2 {
  background:#00E398;
}

.jc-about h1 {
  color:#fff;
}
.jc-about h1 span {
  color:#29323D
}
.jc-about p {
 color:rgb(41,50,61);
  
}
.jc-about h1 span {
  color:rgb(41,50,61);
}
/*  Section 3  */
.jc-section3 {
  background: #fff;
}
.jc-section3 h1 span {
  color:#00E398;
}
.jc-pricelist-wrap {
  background: #fff;
}
.plan1 {
  background-image: url(../img/img_plan1.svg);
}
.plan2 {
  background-image: url(../img/img_plan2.svg);
}
.plan3 {
  background-image: url(../img/img_plan3.svg);
}
.discount {
  background:#00E398;
  color:#fff;
}
.subplan {
  color:#858585;
  font-weight:normal;
  font-size:20px;
}
.price-style {
  color:#00E398;
  font-weight:600;
}

/*  Section 4 */
.jc-section4 {
  background:rgb(41,50,61);
}
.jc-section4 h1 {
  color:#fff
}
.jc-section4 h1 span {
  color:#00E398
}
.jc-section4 p {
  color:#fff
}
.jc-box-wrap {
  background:#fff;
}
.jc-benefit1 {
  background-image: url(../img/img_benefit1.png);
}
.jc-benefit2 {
  background-image: url(../img/img_benefit2.png);
}
.jc-benefit3 {
  background-image: url(../img/img_benefit3.png);
}
.jc-benefit4 {
  background-image: url(../img/img_benefit4.png);
}
.jc-box-wrap h1 {
  color:#434E5B
}
.jc-box-wrap p {
  color:#434E5B
}


/* Section 5 */
.jc-section5 {
  background: #4B5561;
}
.jc-section5 h1 {
  color: #00E398;
}
.jc-section5 p {
  color:#fff;
}
.jc-section5 h1 span {
  color:#fff
}
.img-qualification1  {
  background-image: url(../../../img/img_ic_android.png);
}
.img-qualification2  {
  background-image: url(../../../img/img_ic_apple.png);
}
.img-qualification3  {
  background-image: url(../../../img/img_ic_golang.png);
}
.img-qualification4  {
  background-image: url(../../../img/img_ic_react.png);
}
.jc-experience {
  color:#fff
}
.jc-experience-wrap h1 {
  color:rgb(41,50,61);
}
.jc-experience a {
  color:#00E398
}

.jc-experience a:hover {
  color:#8400E2
}



/* Section 6 */
.jc-section6 {
  background:rgb(41,50,61);
}
.jc-section6 h1 {
  color: #fff
}
.jc-section6 p {
  color:#fff
}
.jc-section6 h1 span {
  color:#00E398;
}
.jc-experience1, .jc-experience2, .jc-experience3, .jc-experience4{
  background-color: #00E398;
}
.jc-experience1 {
  background-image:url(../../../img/img_experience1.svg);
}
.jc-experience2 {
  background-image:url(../../../img/img_experience2.svg);
}
.jc-experience3 {
  background-image:url(../../../img/img_experience3.svg);
}
.jc-experience4 {
  background-image:url(../../../img/img_experience4.svg);
}
.jc-experience-sec6 h1, .jc-experience-sec6 p {
  color:rgb(41,50,61);
}

/*  Section 7 */
.jc-section7 {
  background-color:#fff;
}
.jc-section7 h1 {
  color: rgb(41,50,61);
}
.jc-section7 p {
  color:rgb(41,50,61);
}
.jc-section7 h1 span {
  color:#00E398;
}

/* Section 8 */
.jc-section8 {
  background: #4B5561;
}
.jc-section8 h1 {
  color: #fff
}
.jc-section8 p {
  color:#fff
}
.jc-section8 h1 span {
  color:#00E398;
}
.jc-testimonial-item h1 {
  color:rgb(41,50,61);
}
.jc-testimonial-item h2 {
  color:#848484
}
.jc-star {
  background-image:url(../../../img/img_star.svg) ;
}
.jc-testimonial-item p {
  color:rgb(41,50,61);
}

/* Section 9 */
.jc-section9 {
  background: #00E398;
}
.jc-section9 h1 {
  color: #fff
}
.jc-section9 p {
  color:#fff
}
.jc-section9 h1 span {
  color:rgb(41,50,61);
}
.jc-news-wrap h1 {
  color:rgb(41,50,61);
}
.jc-news-wrap h2 {
  color:#848484
}
.jc-news-wrap p {
  color: rgb(41,50,61);
}
.jc-news-wrap a {
  color:#00E398
}
.jc-news-wrap a:hover {
  color:#8400E2
}

.jc-section10 {
  background-color: rgb(41,50,61);
  background-image: url(../img/img_bg_bottom.svg);
  background-repeat: no-repeat;
  background-position:top center;
}
.jc-bottom-link h1 {
  color:#00E398;
}
.jc-bottom-link ul li a {
  color:#fff;
}
.jc-bottom-link ul li a:hover{
  color:#00E398;
}


.jc-subcription p {
  color:#fff
}
.jc-subcription a {
  border-color:#00E398;
  background:#00E398;
  color:rgb(41,50,61);
}
.jc-subcription a:hover {
  border-color:#8400E2;
  background:#8400E2;
  color:#fff;
}
.jc-copyright {
  background:rgba(0,0,0,0.15);
} 
.jc-copyright a, .jc-copyright p {
  color:#fff;
}
.jc-copyright a:hover {
  color:#00E398;
}

.btn-social-media-style2 {
  padding: 5px 7px;
  border-radius: 5px;
  cursor: pointer !important;
  display: inline-block;
}
.btn-social-media-style2 {
  background-color: #00E398;
  color:#fff
}

/* Login  */
.jc-login {
  background-color: #FFF;
}
.jc-login-wrap h1 {
  color: #fff;
  background: #00E398;
}
.img-login {
  background-image: url(../img/img_login.svg);
}
.jc-login-wrap p a {
  color:#00E398;
  font-weight:500;
}
.jc-login-wrap p a:hover {
  color:#8400E2
}
.jc-title-header  {
  background-image: url(../img/img_bg_header.png);
  background-position:bottom center;
  background-repeat: no-repeat;
  background-size: contain;
}

/* E-Course */
.jc-course{
  background:#FFF;
}
.jc-about-page {
  background:#FFF;
}
.jc-course ul li a.nav-link {
  color:#29323D;
  font-weight:500;
}
.jc-course ul li a:hover.nav-link {
  color:#FFF;
  background: #6511a0
}
.jc-course ul li a.nav-link.active {
  background: #8400E2;
  color:#FFF;
}
a:hover .jc-box-wrap-line {
  border:1px solid #00E398
}

.jc-box-wrap-line h1 {
  color:#29323D
}

.jc-box-wrap-line h2 {
  color:#29323D
}

.jc-box-wrap-line h3 {
  color:#29323D
}
.jc-box-wrap-line p {
  color:#29323D
}
.jc-image-course img {
 
  opacity:0.5
}
a:hover .jc-image-course img {
  filter: grayscale(0);
  opacity:1
}
.jc-title-header h1 {
  color:#00E398;
}

/*  About Us */
.jc-about-wrap {
  background:#fff;
}
.jc-about-wrap h1 {
  color:#00E398
}

.jc-img-about-page  {
  background:#00E398
}

/*  Team Page  */
.jc-team-page {
  background: #00E398;
}
.jc-team-page h1 {
  color:#fff
}
.team-desc h1 {
  color:#29323D
}
.team-desc h2 {
  color:#29323D
}
.carousel-team .owl-dots button.owl-dot.active span{
  background:#8400E2
}
.carousel-team .owl-dots button:hover.owl-dot span{
  background:#8400E2
}
.carousel-team .owl-dots button.owl-dot span{
  background:rgba(255,255,255,0.5)
}
.carousel-team .owl-nav button.owl-prev {
  background-color:#fff;
  background-image:url(../img/img_arrow_left.svg) !important;
}
.carousel-team .owl-nav button.owl-next {
  background-color:#fff;
  background-image:url(../img/img_arrow_right.svg)!important;
}
.carousel-team .owl-nav button:hover.owl-prev {
  background-color:#8400E2;
  background-image:url(../img/img_arrow_left_hover.svg)!important;
}
.carousel-team .owl-nav button:hover.owl-next {
  background-color:#8400E2;
  background-image:url(../img/img_arrow_right_hover.svg)!important;
}
.carousel-testimonial .owl-dots button.owl-dot span{
  background:rgba(0,0,0,0.4)
}
.carousel-testimonial .owl-dots button.owl-dot.active span{
  background:#00E398
}
.carousel-testimonial .owl-dots button:hover.owl-dot span{
  background:#00E398
}
.carousel-testimonial .owl-nav button.owl-prev {
  background-color:#00E398!important;
  background-image:url(../img/img_arrow_left_hover.svg) !important;
}
.carousel-testimonial .owl-nav button.owl-next {
  background-color:#00E398 !important;
  background-image:url(../img/img_arrow_right_hover.svg)!important;
}


.carousel-news .owl-dots button.owl-dot span{
  background:rgba(0,0,0,0.4)
}
.carousel-news .owl-dots button.owl-dot.active span{
  background:#8400E2
}
.carousel-news .owl-dots button:hover.owl-dot span{
  background:#8400E2
}

.carousel-landing .owl-dots button.owl-dot span{
  background:rgba(0,0,0,0.4)
}
.carousel-landing .owl-dots button.owl-dot.active span{
  background:#8400E2
}
.carousel-landing .owl-dots button:hover.owl-dot span{
  background:#8400E2
}

.carousel-news .owl-nav button.owl-prev {
  background-color:#00E398!important;
  background-image:url(../img/img_arrow_left_hover.svg) !important;
}
.carousel-news .owl-nav button.owl-next {
  background-color:#00E398 !important;
  background-image:url(../img/img_arrow_right_hover.svg)!important;
}
