/* GLOBAL STYLES
-------------------------------------------------- */
/* Reset CSS
 * --------------------------------------- */
html, body {
  height:100%;
}
 body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,
 form,fieldset,input,textarea,p,blockquote,th,td {
     padding: 0;
     margin: 0;
 }
 a,a:hover{
   text-decoration:none !important;
 }
 table tr td a {
   color:#2B2B2B;
 }
 table {
     border-spacing: 0;
 }
 fieldset,img {
     border: 0;
 }
 address,caption,cite,code,dfn,em,strong,th,var {
     font-weight: normal;
     font-style: normal;
 }
 strong{
   font-weight: bold;
 }
 ol,ul {
     
     margin:0;
     padding:0;
 }
 caption,th {
     text-align: left;
 
 }
 /* h1,h2,h3,h4,h5,h6 {
    font-weight: normal;
    font-size: 100%;
    margin:0;
    padding:0;
    color:#444;
} */
q:before,q:after {
    content:'';
}

abbr,acronym { border: 0;
}
.no-padding {
  padding:0px !important;
}
.no-pl {
  padding-left:0px !important;
}
.no-pr {
  padding-right:0px !important;
}
.no-margin {
  margin:0px !important
}
.clear-fix {
  clear:both
}
:root {
  --primary :#00E398;
  --primary10 :rgba(0,227,152,0.1);
  --secondary :#8400E2;
  --secondary10 :rgba(132,0,226,0.1);
  --tertiary :#263238;
  --gray1:#ced4da;
  --s1: 1px;
  --s2: 2px;
  --s3: 3px;
  --s4: 4px;
  --s5: 5px;
  --s6: 6px;
  --s7: 7px;
  --s8: 8px;
  --s9: 9px;
  --s10: 10px;
  --s14: 14px;
  --s16: 16px;
  --s18: 18px;
}
.fc-primary {
  color:var(--primary)
}
.fc-secondary {
  color:var(--secondary)
}
.fs-10 {
  font-size: var(--s10);
}
.fs-16 {
  font-size: var(--s16) ;
}
.fs-18 {
  font-size: var(--s18);
}
.br10 {
  border-radius: var(--s10);
}
.alert-secondary {
  border-style: solid;
  border-width: var(--s3) !important;
  border-color:var(--secondary);
  border-radius: var(--s8);
  background:#FFF;
}

.jc-btn-toggle {
  border: 1px solid var(--gray1);
  border-radius: var(--s8) !important;
  white-space: inherit;
}
.jc-btn-toggle p{
  font-size:var(--s14) 
}
.jc-btn-toggle.active {
  border-style: solid;
  border-width: var(--s3) !important;
  border-color:var(--secondary);
  border-radius: var(--s8) !important;
}
.jc-btn-toggle.active h6 {
  color:var(--secondary);
}
.jc-btn-toggle.active p {
  background-color:var(--secondary10);
  color:var(--secondary);
  border-radius: var(--s5) !important;
}
html{
   scroll-behavior: smooth;
}
body, html {
  font-family: 'Poppins', sans-serif;
}
.br-15 {
  border-radius:15px;
}
.vh-100 {
  height:100vh;
}
.pt-140 {
  padding-top:140px !important;
}
.pt-262 {
  padding-top: 262px !important;
}
.ic-ar-style1 {
  width: 45px;
  height: 15px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position:right  center;
}
.ic-ar-style2 {
  width: 45px;
  height: 15px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: right center;
}
.btn-circle {
  padding:8px 20px;
  border-radius:50px;
  cursor: pointer !important;
  display: inline-block;
  font-size:15px;
  font-weight: 400;
}
.btn-circle-outline-primary {
    color: var(--primary);
    border-width:var(--s2);
    border-color: var(--primary);
    border-style: solid;
    background: transparent;
}
.btn-circle-outline-primary:hover {
  color: var(--secondary);
  border-width:var(--s2);
  border-color: var(--secondary);
  border-style: solid;
  background: transparent;
}

.themes-color-pallete {
  position: fixed;
  z-index: 999;
  right:15px;
  background:#fff;
  border-radius:8px;
  padding:10px;
  bottom:100px
}
.position-relative {
  position: relative;
}

.bsticky {
  position:relative;
  z-index:5;
  left:0;
  right:0;
  top:0;

}
.bsticky .jc-nav {
  position:fixed;
  z-index:2;
  left:0;
  right:0;
  top:0;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
.bsticky .jc-top-nav  {
  display: none;

}
.logo-wrap {
  margin:auto;
}

.btn-social-media{
  padding:5px 7px;
  border-radius:5px;
  cursor: pointer !important;
  display: inline-block;
}
.btn-social-media img {
  height:20px
}
.display-flex {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}
.title-header-wrap {
  padding-top:72px
}
.bsticky .title-header-wrap {
  padding-top: 390px;
}
/* Nav
-------------------------------------------------- */
.jc-nav ul li.active .dropdown-menu a:hover {
  background-color:var(--secondary);
}
.jc-logo-wrap {
  margin:30px auto;
  text-align: center;
}
.bsticky .jc-logo-wrap {
  margin:auto;
}
.jc-logo-wrap a {
  display: inline-block;
}
.jc-top-nav {
  padding:10px 0px
}
.jc-nav {
  padding:15px 0px;
}
.login-wrap {
  float:right;
}
.logo-juaracoding {
  background-image:url(../img/img_logo_juaracoding.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  width:100px;
  height:100px;
}
.bsticky .logo-juaracoding {
  background-image:url(../img/img_logogram_juaracoding.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  width:30px;
  height:30px;

}
.bsticky .jc-logo-wrap {
  float:left;
}
.bsticky header {
  /* height:72px !important; */
}
header {
  z-index: 99;
  width: 100%;
  /* height: 262px; */
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}
.jc-nav ul li {
  border-radius:50px !important;
  color:#fff;
  padding:8px 15px;
}
.jc-nav ul li a {
  border-radius:50px;
}
.bsticky .jc-nav-wrap {
  display: flex !important;
  align-items: center !important;
}
.bsticky .jc-logo-wrap {
  display: flex !important;
  align-items: center !important;
}
.sub-login {
  display:none;
}
.bsticky .sub-login {
  display:block;
}

/* Slider
-------------------------------------------------- */
.carousel-landing  {
  margin-top:-262px;
}
.bsticky .carousel-landing  {
  margin-top:0px;
}
.bsticky .jc-slider-wrap {
  padding-top:300px
}
.h-100 {
  height: 100%!important;
}
.landing-page {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: left;
  height: 100%;
  float: left;
}


.jc-landing h1 {
  font-size:50px;
}
.jc-landing p {
  font-size:17px;
}
.jc-section2  img {
  width:100%;
}
.jc-about h1 {
  font-size:25px;
  font-weight:bold;
}
.jc-about p {
  font-size: 16px;
  font-weight:300;
  line-height:28px;
}

/*  Section 3  */
.jc-section3 h1 {
  font-size:30px;
  font-weight:600;
}
.jc-pricelist-wrap {
  min-height:300px;
  box-shadow: 0px 0px 25px rgba(0,0,0,0.20);
  display: block;
  border-radius: 20px;
}
.jc-pricelist-wrap h1 {
  font-size:20px;
  font-weight:400;
}
.jc-pricelist-wrap h2 {
  font-size:22px;
  font-weight:600;
}
.ic_plan {
  width: 30px;
  height: 30px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: right center;
}
.discount {
  border-radius: 6px;
  padding: 4px 20px;
  display: table;
  margin: 10px auto;
  font-weight:bold;
}
.jc-pricelist-wrap h2.subplan {
  font-weight:400;
  font-size:20px;
}
.jc-pricelist-wrap ul li {
  list-style: none;
  float: left;
}
.jc-pricelist-wrap ul {
  display: inline-grid;
  width:100%;
 }
 .jc-pricelist-wrap ul li p {
   margin:5px auto;
   font-size:15px;
   color:#858585;
 }
.ic_check {
  height:30px;
  width:30px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position:center;
  float:left
}
.check-style1 {
  background-image: url(../img/img_check.svg);
}

/*  Section 4  */ 

.jc-box-wrap {
  min-height:350px;
  box-shadow: 0px 0px 25px rgba(0,0,0,0.20);
  display: block;
  border-radius: 20px;
}
.jc-section4 h1 {
  font-size:30px;
  font-weight:600;
}
.jc-benefit1, .jc-benefit2, .jc-benefit3, .jc-benefit4 {
  width:100%;
  height:180px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position:center;
}
.jc-box-wrap h1 {
  font-size:18px;
}

.jc-box-wrap p {
  font-size:14px;
  font-weight: 400;
}


/* Section 5 */

.jc-section5 h1 {
  font-size:30px;
  font-weight:600;
}
.jc-section5 p {
  font-size:18px;
}
.img-qualification1, .img-qualification2, .img-qualification3, .img-qualification4 {
  width:100%;
  height:95px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position:center;
}
.jc-experience p {
  font-size:15px;
  line-height: 27px;
  font-weight: 200;
  letter-spacing:0.1px;
}
.jc-experience-wrap {
  box-shadow: 0px 0px 25px rgba(0,0,0,0.20);
  display: block;
  border-radius: 10px;
  background:#fff;
}
.jc-experience-wrap h1 {
  font-size:15px;
}


/* Section 6 */
.jc-section6 h1 {
  font-size:30px;
  font-weight:600;
}
.jc-section6 p {
  font-size:18px;
}
.jc-experience-sec6 {
  box-shadow: 0px 0px 25px rgba(0,0,0,0.20);
  display: block;
  border-radius: 10px;
  background:#fff;
}
.jc-experience-sec6 h1 {
  font-size:25px;
  font-weight: 700;
}
.jc-experience1, .jc-experience2, .jc-experience3, .jc-experience4 {
  padding: 30px;
  border-radius: 50%;
  height: 100px;
  width: 100px;
  background-repeat: no-repeat;
  background-size: auto;
  background-position: center;
  margin: auto;
}

/* Section 7 */
.jc-section7 h1 {
  font-size:30px;
  font-weight:600;
}
.jc-section7 p {
  font-size:18px;
}
.jc-partner a img {
  opacity:0.5;
  filter: grayscale(100%);
  height:130px;
}

.jc-partner a:hover img {
  opacity:1;
  filter: grayscale(0%);
  height:130px;
}

/* Section 8 */
.jc-section8 h1 {
  font-size:30px;
  font-weight:600;
}
.jc-section8 p {
  font-size:18px;
}
.jc-testimonial-item {
  box-shadow: 0px 0px 25px rgb(0 0 0 / 20%);
  display: block;
  border-radius: 10px;
  background: #fff;
}
.jc-testimonial-item h1 {
  font-size:20px
}
.jc-star {
  display: inline-block;
  width: 22px;
  height:22px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: right center;
}
.jc-testimonial-item p {
  font-size:14px;
  font-weight:300;
  line-height:23px;
}

/* Section 9 */
.jc-section9 h1 {
  font-size:30px;
  font-weight:600;
}
.jc-section9 p {
  font-size:18px;
}
.jc-news-wrap {
  box-shadow: 0px 0px 25px rgb(0 0 0 / 20%);
  display: block;
  border-radius: 10px;
  background: #fff;
}
.jc-news-wrap h1 {
  font-size:18px;
}
.jc-news-wrap h2 {
  font-size:16px;
  font-weight:300;
}
.jc-news-wrap p {
  font-size:14px;
  font-weight:300;
}
.jc-news-wrap a {
  font-size:14px;
}

.logo-juaracoding-bottom {
  background-image: url(../img/img_logo_juaracoding.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  width: 120px;
  height: 150px;
  margin:auto;
}
.bottom-logo-wrap {
  margin:auto;
  text-align:center;
}
.jc-bottom-link ul li  {
  list-style: none;
  padding:5px 0px;
}
.jc-bottom-link ul li a {
  font-size:14px;

}
.jc-bottom-link h1 {
  font-size:20px;

}
.jc-copyright a, .jc-copyright p {
  font-size:14px;
  font-weight:300;
}

.btn-social-media-style2 {
  padding: 5px 7px;
  border-radius: 5px;
  cursor: pointer !important;
  display: inline-block;
}

/*  Login  */
.jc-login img {
  width:100%;
}
.jc-login-wrap {
  width:100%;
  border-radius:10px;
  background:#fff;
  overflow: hidden;
  /* border: 1px solid #ddd; */
}
.jc-login-wrap form {
  padding:20px 0px
}
.jc-login-wrap h1 {
  font-size: 20px;
  font-weight: 400;
}
.img-login {
  width:100%;
  height: 600px;
  background-repeat: no-repeat;
  background-position: center;
  background-size:contain;
}
.jc-login-wrap input {
  font-weight: 300;
  font-style: italic;
}
.jc-login-wrap p {
  font-weight:300;
}
.jc-form-contact input.form-control  {
  border-radius:50px;
}
.jc-form-contact textarea.form-control {
  border-radius:15px;
}

/* ECourse  */
.jc-title-header {
  padding: 10px 20px;
  left: 0;
  right: 0;
  font-size: 20px;
  font-weight: 500;
  height: 150px
}
.jc-tab {
  background:#fff;
  padding:15px;
  border-top-left-radius: 15px;
  border-top-right-radius:15px;
  border-bottom-left-radius:15px;
  border-bottom-right-radius: 15px;
  min-height:50vh;
}
.jc-course ul {
  padding:0px 20px;
  border:none;
}
.jc-course ul li a.nav-link {
  border-top-left-radius: 15px;
  border-top-right-radius:15px;
  border:none;
}

.jc-box-wrap-line {
  min-height:250px;
  border:1px solid #eee;
  display: block;
  border-radius: 10px;
  padding:15px;
}
.jc-image-course {
  width:100%;
  height:150px;
  border-radius:10px;
  overflow:hidden;
}
.jc-image-course img {
  width:100%
}
.jc-box-wrap-line h1 {
  font-size:18px;
  font-weight:500;
  padding:10px 0px 6px 0px;
  line-height: 24px;
}

.jc-box-wrap-line h2 {
  font-size:14px;
  font-weight:400;
}

.jc-box-wrap-line h3 {
  font-size:14px;
  font-weight:300;
  padding:5px 0px 0px 0px;
  line-height: 20px;
  font-style: italic;
}
.jc-box-wrap-line p {
  font-size:13px;
  font-weight:300;
  padding:5px 0px 0px 0px;
  line-height: 20px;
}
.h-50 {
  height:50vh;
}
.jc-title-header h1 {
  font-weight: 600;
}




/*  About  */

.jc-about-wrap {
  padding:25px;
  border-radius:15px;
  min-height:50vh;
}
.jc-about-wrap h1 {
  font-size:30px;
  font-weight: 600;
}
.jc-about-wrap h2 {
  font-size:25px;
  font-weight: 400;
}
.jc-about-wrap  p {
  font-size: 15px;
  font-weight: 300;
  line-height: 30px;
}
.jc-about-wrap ul {
  margin-left:20px;
  list-style-type: upper-roman;
}
.jc-about-wrap ul li {
  margin:20px auto 0px auto;
}
.jc-about-wrap img {
  width:100%;
}
.jc-img-about-page  {
  padding:25px 15px;
  border-radius:15px;
  width:400px;
  margin:auto;
}
.jc-team-page h1 {
  font-size: 30px;
  font-weight: 600;
}
.team-wrap {
  padding:25px;
  background:#fff;
  border-radius:15px;
  width:600px;
  margin-right:30px;
  min-height:580px;
  box-shadow: 0px 0px 25px rgb(0 0 0 / 20%);
}
.team-desc h1 {
  font-size: 20px;
  font-weight: 600;
}
.team-desc h2 {
  font-size: 18px;
  font-weight: 300;
}
.team-desc p {
  font-size:14px;
  line-height:27px;
  font-weight:300;
}
.team-photo {
  width:120px;
  height:120px;
  border-radius:50%;
  overflow: hidden;
  margin:auto;
}
.carousel-team .owl-nav, .carousel-testimonial .owl-nav, .carousel-partner .owl-nav , .carousel-news .owl-nav {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  height: 50px;
  margin: auto;
}
.carousel-team .owl-nav button.owl-prev , .carousel-partner .owl-nav button.owl-prev  {
  border-radius:50%;
  height:50px;
  width:50px;
  background-color:rgb(255,255,255);
  float:left;
  margin: auto 0px auto 10px;
  box-shadow: 0px 0px 25px rgb(0 0 0 / 20%);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
.carousel-team .owl-nav button.owl-next ,.carousel-partner .owl-nav button.owl-next  {
  border-radius:50%;
  height:50px;
  width:50px;
  background-color:rgb(255,255,255);
  float:right;
  margin: auto 10px auto 0px;
  box-shadow: 0px 0px 25px rgb(0 0 0 / 20%);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
.carousel-testimonial .owl-nav button.owl-prev  {
  border-radius:50%;
  height:50px;
  width:50px;
  float:left;
  left:-100px;
  margin: auto 0px auto 10px;
  box-shadow: 0px 0px 25px rgb(0 0 0 / 20%);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  position: relative;
}
.carousel-testimonial .owl-nav button.owl-next  {
  border-radius:50%;
  height:50px;
  width:50px;
  float:right;
  right:-100px;
  margin: auto 10px auto 0px;
  box-shadow: 0px 0px 25px rgb(0 0 0 / 20%);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  position: relative;
}
.carousel-news .owl-nav button.owl-prev  {
  border-radius:50%;
  height:50px;
  width:50px;
  float:left;
  left:-100px;
  margin: auto 0px auto 10px;
  box-shadow: 0px 0px 25px rgb(0 0 0 / 20%);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  position: relative;
}
.carousel-news .owl-nav button.owl-next  {
  border-radius:50%;
  height:50px;
  width:50px;
  float:right;
  right:-100px;
  margin: auto 10px auto 0px;
  box-shadow: 0px 0px 25px rgb(0 0 0 / 20%);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  position: relative;
}

/*  Contact */
.jc-contact-wrap {
  border:1px solid #ddd;
  border-radius:10px;
}
.jc-form-contact  {
  width:100%;
}


.icon-location {
  width:20px;
  height:20px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  background-image:url(../img/img_ic_pin.png);
  display: block;
  float:left;
}
.icon-call {
  width:20px;
  height:20px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  background-image:url(../img/img_ic_call.png);
  display: block;
  float:left;
}

.icon-mail {
  width:20px;
  height:20px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  background-image:url(../img/img_ic_message.png);
  display: block;
  float:left;
}

.icon-time {
  width:20px;
  height:20px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  background-image:url(../img/img_ic_clock.png);
  display: block;
  float:left;
}
.jc-contact ul li {
  list-style:none;
  margin:15px auto
}
.jc-contact ul li p {
  margin-left:25px;
  line-height:30px;
}
.jc-contact ul li span {
  margin-top:5px
}
.jc-step-wrap {
  width:280px;
  height:300px;
  position: relative;
  z-index:1;
}
.jc-step-wrap img {
  width: auto;
  height:100%;
  bottom:0
}
.jc-divider {
  /* border-top: 4px dotted #00E398;
  position: absolute;
  top: 0;
  bottom: 0;
  height: 4px;
  margin: auto;
  left: 50px;
  right: 50px; */
  border-top: 4px dotted #00E398;
  position: sticky;
  top: 160px;
  height: 4px;
  margin: auto 60px;
  left: 0px;
  right: 0px;
  z-index: 0;
  width: 100%;
}
.jc-scroll-wrap .jc-divider{
  bottom: 60px;
}
.jc-kualifikasi {
  background-color:var(--secondary10);
  border-radius:20px;
}
.jc-kualifikasi .list-group-item {
  background: transparent;
  border:none;
}
.overflow-x {
  overflow-y: hidden;
  overflow-x: scroll;
}

/* width */
.jc-scroll-wrap ::-webkit-scrollbar {
  height: 10px;
}

/* Track */
.jc-scroll-wrap ::-webkit-scrollbar-track {
  background: #f1f1f1; 
  border-radius: 10px;
  
}
 
/* Handle */
.jc-scroll-wrap ::-webkit-scrollbar-thumb {
  background: var(--primary); 
  border-radius: 10px; 
}

/* Handle on hover */
.jc-scroll-wrap ::-webkit-scrollbar-thumb:hover {
  background: var(--secondary); 
}
.jc-shadow-left {
  background-image:url(../img/img_shadow_left.png);
  background-repeat: repeat-y;
  background-size: contain;
  position: absolute;
  left:0;
  top:0;
  bottom: 10px;
  width: 40px;
  z-index:2;
}
.jc-shadow-right {
  background-image:url(../img/img_shadow_right.png);
  background-repeat: repeat-y;
  background-size: contain;
  position: absolute;
  right:0;
  top:0;
  bottom: 10px;
  width: 40px;
  z-index:2;
}
.jc-scroll-wrap {
  position: relative !important;
}
.jc-item-step {
  width:300px;
}
.jc-item-syllabus-img {
  background: var(--tertiary);
  border-radius: 100%;
  padding: 15px;
  width:120px;
  height:120px;
  margin:auto
}
.jc-item-syllabus-img  img{
  width:60px;
} 
.item-blog a {
  font-size:15px;
  color:var(--primary)
}
.item-blog a:hover {
  color:var(--secondary)
}
.item-blog {
  min-height:380px;
}
.item-blog a:hover h1 {
  color:var(--secondary)
}
.jc-blog-categories ul li.list-group-item:first-child, .jc-blog-categories ul li.list-group-item:last-child{
 overflow: hidden;
}
.jc-blog-categories ul li a {
  display: block;
  color:var(--tertiary);
  padding: 0.75rem 1.25rem;
  overflow: hidden;
}
.jc-blog-categories ul li a.active, .jc-blog-categories ul li a:hover{
  display: block;
  color:#fff;
  background-color:var(--secondary);
}
.jc-pagination ul {
  padding:0px;
}
.jc-pagination ul li a {
  color:var(--tertiary)
}
.jc-pagination ul li a:hover {
  color:#fff;
  background-color: var(--secondary);
}
.item-blog-detail h1 {
  font-size: 2rem;
  margin:10px auto
}
.item-blog-detail h2 {
  font-size: 1rem;
  margin:10px auto
}
.item-blog-detail h3 {
  font-size: 1rem;
  margin:10px auto
}
.item-blog-detail p {
  font-size: 16px;
  margin:10px auto;
  font-weight: 300;
}
.item-blog-detail .jc-image-course {
  height: 350px;
}
.footer-link ul li {
  float:left
}
.copyright {
  text-align:right;
}

.circle {
  padding: 13px 20px;
  border-radius: 50%;
  background-color: #8400E2;
  color: #fff;
  max-height: 50px;
  z-index: 2;
}

.how-it-works.row .col-2 {
  align-self: stretch;
}
.how-it-works.row .col-2::after {
  content: "";
  position: absolute;
  border-left: 3px solid #8400E2;
  z-index: 1;
}
.how-it-works.row .col-2.bottom::after {
  height: 50%;
  left: 50%;
  top: 50%;
}
.how-it-works.row .col-2.full::after {
  height: 100%;
  left: calc(50% - 3px);
}
.how-it-works.row .col-2.top::after {
  height: 50%;
  left: 50%;
  top: 0;
}


.timeline div {
  padding: 0;
  height: 40px;
}
.timeline hr {
  border-top: 3px solid #8400E2;
  margin: 0;
  top: 17px;
  position: relative;
}
.timeline .col-2 {
  display: flex;
  overflow: hidden;
}
.timeline .corner {
  border: 3px solid #8400E2;
  width: 100%;
  position: relative;
  border-radius: 15px;
}
.timeline .top-right {
  left: 50%;
  top: -50%;
}
.timeline .left-bottom {
  left: -50%;
  top: calc(50% - 3px);
}
.timeline .top-left {
  left: -50%;
  top: -50%;
}
.timeline .right-bottom {
  left: 50%;
  top: calc(50% - 3px);
}
.jc-img-wrap img {
  image-rendering: auto;
}
.justify-content-left {
  justify-content:left ;
}
.justify-content-right {
  justify-content:right ;
}
.jc-title-step h5 {
  text-align:left;
  color: var(--secondary);
}
.ml-3px {
  margin-left: 3px !important;
}
.mr-3px {
  margin-right: 3px !important;
}
.jc-title-highlight {
  padding:5px 12px;
  background-color:var(--secondary);
  color:#fff;
  border-radius:8px;
}
@media screen and (max-width:767px) { 
  .copyright {
    text-align:center;
  }
  .footer-link {
    display: inline-block;
    text-align: center;
    width: 100%;
  }
  .footer-link  ul {
    text-align: center;
    display: inline-block;
  }
  .carousel-testimonial .owl-nav, .carousel-news .owl-nav {
    display:none !important;
  }
  .bsticky .jc-nav {
    padding:15px 10px 15px 10px;
    position: fixed;
    left: 0;
    right: 0;
    /* transition: 0.8s; */
  }
  #navbarCollapse ul {
    display:flow-root;
    padding-top: 60px;
  }
  .jc-nav button {
    position: absolute;
    right: 20px;
    top: 120px;

  }
  .bsticky .jc-nav button{
    position: absolute;
    right: 10px;
    top: 13px;
  }
  .bsticky .jc-logo-wrap {
    float:none;
  }
  .jc-landing h1 {
    font-size: 33px;
  }
  .jc-landing {
    padding:0px 15px
  }
  .jc-landing p {
    font-size: 15px;
  }
}
@media screen and (max-width:600px) {
  .jc-title-step h5 {
    text-align:center;
  }
  .jc-title-step .justify-content-left,.jc-title-step .justify-content-right {
    justify-content:center
  }

}
@media screen and (max-width:480px) {
  .jc-title-step h5 {
    text-align:center;
  }
  .jc-about-wrap {
    padding: 25px 0px;
  }
  .team-wrap {
    width: 300px;
    min-height: auto;
  }
  .jc-img-about-page {
    width:auto;
  }
  .jc-testimonial-img {
    width:100px;
    margin:auto
  }
  .jc-testimonial-item h2 {
    font-size: 1.5rem;
  }
  .title-header-wrap {
    padding: 0px;
    margin:0px;
  }
  .btn-sm-top {
    display:none;
  }
  .login-wrap {
    margin:auto;
    float:none;
    text-align: center;
  }
  .jc-title-header {
    padding:10px 0px !important;
    background-size: auto;
  }
  .jc-copyright {
    text-align:center;
  }
}
@media screen and (max-width:420px) {
  .jc-section2 {
    margin-top: 200px;
  }
  .btn-sm-top {
    display: none;
  }

  .jc-section5 h1, .jc-section6 h1 .jc-section7 h1 {
    font-size: 20px;
  }
  .jc-section6 p, .jc-section5 p, .jc-section7 p {
    font-size: 15px;
    font-weight: 200;
    padding-top: 15px;
}
  .jc-landing {
    margin-bottom: 40px;
  }
  .jc-slider-wrap {
    padding-top: 98px !important;
  }
}