/* GLOBAL STYLES
-------------------------------------------------- */
/* Reset CSS
 * --------------------------------------- */
html, body {
  height:100%;
}
 body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,
 form,fieldset,input,textarea,p,blockquote,th,td {
     padding: 0;
     margin: 0;
 }
 a,a:hover{
   text-decoration:none !important;
 }
 table tr td a {
   color:#2B2B2B;
 }
 table {
     border-spacing: 0;
 }
 fieldset,img {
     border: 0;
 }
 address,caption,cite,code,dfn,em,strong,th,var {
     font-weight: normal;
     font-style: normal;
 }
 strong{
   font-weight: bold;
 }
 ol,ul {
     
     margin:0;
     padding:0;
 }
 caption,th {
     text-align: left;
 
 }
 /* h1,h2,h3,h4,h5,h6 {
    font-weight: normal;
    font-size: 100%;
    margin:0;
    padding:0;
    color:#444;
} */
q:before,q:after {
    content:'';
}

abbr,acronym { border: 0;
}

.clear-fix {
  clear:both
}
:root {
  --primary :#00E398;
  --secondary :#8400E2;
  --secondary10 :rgba(132,0,226,0.1);
  --tertiary :#263238;
  --gray1:#ced4da;
  --s1: 1px;
  --s2: 2px;
  --s3: 3px;
  --s4: 4px;
  --s5: 5px;
  --s6: 6px;
  --s7: 7px;
  --s8: 8px;
  --s9: 9px;
  --s10: 10px;
  --s14: 14px;
  --s16: 16px;
}
.fc-primary {
  color:var(--primary)
}
.br10 {
  border-radius: var(--s10);
}
.alert-secondary {
  border-style: solid;
  border-width: var(--s3) !important;
  border-color:var(--secondary);
  border-radius: var(--s8);
  background:#FFF;
}

.jc-btn-toggle {
  border: 1px solid var(--gray1);
  border-radius: var(--s8) !important;
  white-space: inherit;
}
.jc-btn-toggle p{
  font-size:var(--s14) 
}
.jc-btn-toggle.active {
  border-style: solid;
  border-width: var(--s3) !important;
  border-color:var(--secondary);
  border-radius: var(--s8) !important;
}
.jc-btn-toggle.active h6 {
  color:var(--secondary);
}
.jc-btn-toggle.active p {
  background-color:var(--secondary10);
  color:var(--secondary);
  border-radius: var(--s5) !important;
}
html{
   scroll-behavior: smooth;
}
body, html {
  font-family: 'Poppins', sans-serif;
}
.br-15 {
  border-radius:15px;
}
.vh-100 {
  height:100vh;
}
.pt-140 {
  padding-top:140px !important;
}
.pt-262 {
  padding-top: 262px !important;
}
.ic-ar-style1 {
  width: 45px;
  height: 15px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position:right  center;
}
.ic-ar-style2 {
  width: 45px;
  height: 15px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: right center;
}
.btn-circle {
  padding:8px 20px;
  border-radius:50px;
  cursor: pointer !important;
  display: inline-block;
  font-size:15px;
  font-weight: 400;
}


.themes-color-pallete {
  position: fixed;
  z-index: 999;
  right:15px;
  background:#fff;
  border-radius:8px;
  padding:10px;
  bottom:100px
}
.position-relative {
  position: relative;
}

.bsticky {
  position:relative;
  z-index:2;
  left:0;
  right:0;
  top:0;

}
.bsticky .jc-nav {
  position:fixed;
  z-index:2;
  left:0;
  right:0;
  top:0;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
.bsticky .jc-top-nav  {
  display: none;

}
.logo-wrap {
  margin:auto;
}

.btn-social-media{
  padding:5px 7px;
  border-radius:5px;
  cursor: pointer !important;
  display: inline-block;
}
.btn-social-media img {
  height:20px
}
.display-flex {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}
.title-header-wrap {
  padding-top:72px
}
.bsticky .title-header-wrap {
  padding-top: 390px;
}
/* Nav
-------------------------------------------------- */
.jc-logo-wrap {
  margin:30px auto;
  text-align: center;
}
.bsticky .jc-logo-wrap {
  margin:auto;
}
.jc-logo-wrap a {
  display: inline-block;
}
.jc-top-nav {
  padding:10px 0px
}
.jc-nav {
  padding:15px 0px;
}
.login-wrap {
  float:right;
}
.logo-juaracoding {
  background-image:url(../img/img_logo_juaracoding.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  width:100px;
  height:100px;
}
.bsticky .logo-juaracoding {
  background-image:url(../img/img_logogram_juaracoding.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  width:30px;
  height:30px;

}
.bsticky .jc-logo-wrap {
  float:left;
}
.bsticky header {
  /* height:72px !important; */
}
header {
  z-index: 99;
  width: 100%;
  /* height: 262px; */
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}
.jc-nav ul li {
  border-radius:50px !important;
  color:#fff;
  padding:8px 15px;
}
.jc-nav ul li a {
  border-radius:50px;
}
.bsticky .jc-nav-wrap {
  display: flex !important;
  align-items: center !important;
}
.bsticky .jc-logo-wrap {
  display: flex !important;
  align-items: center !important;
}
.sub-login {
  display:none;
}
.bsticky .sub-login {
  display:block;
}

/* Slider
-------------------------------------------------- */
.carousel-landing  {
  margin-top:-262px;
}
.bsticky .carousel-landing  {
  margin-top:0px;
}
.bsticky .jc-slider-wrap {
  padding-top:300px
}
.h-100 {
  height: 100%!important;
}
.landing-page {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: left;
  height: 100%;
  float: left;
}


.jc-landing h1 {
  font-size:50px;
}
.jc-landing p {
  font-size:17px;
}
.jc-section2  img {
  width:100%;
}
.jc-about h1 {
  font-size:25px;
  font-weight:bold;
}
.jc-about p {
  font-size: 16px;
  font-weight:300;
  line-height:28px;
}

/*  Section 3  */
.jc-section3 h1 {
  font-size:30px;
  font-weight:600;
}
.jc-pricelist-wrap {
  min-height:300px;
  box-shadow: 0px 0px 25px rgba(0,0,0,0.20);
  display: block;
  border-radius: 20px;
}
.jc-pricelist-wrap h1 {
  font-size:20px;
  font-weight:400;
}
.jc-pricelist-wrap h2 {
  font-size:22px;
  font-weight:600;
}
.ic_plan {
  width: 30px;
  height: 30px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: right center;
}
.discount {
  border-radius: 6px;
  padding: 4px 20px;
  display: table;
  margin: 10px auto;
  font-weight:bold;
}
.jc-pricelist-wrap h2.subplan {
  font-weight:400;
  font-size:20px;
}
.jc-pricelist-wrap ul li {
  list-style: none;
  float: left;
}
.jc-pricelist-wrap ul {
  display: inline-grid;
  width:100%;
 }
 .jc-pricelist-wrap ul li p {
   margin:5px auto;
   font-size:15px;
   color:#858585;
 }
.ic_check {
  height:30px;
  width:30px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position:center;
  float:left
}
.check-style1 {
  background-image: url(../img/img_check.svg);
}

/*  Section 4  */ 

.jc-box-wrap {
  min-height:350px;
  box-shadow: 0px 0px 25px rgba(0,0,0,0.20);
  display: block;
  border-radius: 20px;
}
.jc-section4 h1 {
  font-size:30px;
  font-weight:600;
}
.jc-benefit1, .jc-benefit2, .jc-benefit3, .jc-benefit4 {
  width:100%;
  height:180px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position:center;
}
.jc-box-wrap h1 {
  font-size:18px;
}

.jc-box-wrap p {
  font-size:14px;
  font-weight: 400;
}


/* Section 5 */

.jc-section5 h1 {
  font-size:30px;
  font-weight:600;
}
.jc-section5 p {
  font-size:18px;
}
.img-qualification1, .img-qualification2, .img-qualification3, .img-qualification4 {
  width:100%;
  height:95px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position:center;
}
.jc-experience p {
  font-size:15px;
  line-height: 27px;
  font-weight: 200;
  letter-spacing:0.1px;
}
.jc-experience-wrap {
  box-shadow: 0px 0px 25px rgba(0,0,0,0.20);
  display: block;
  border-radius: 10px;
  background:#fff;
}
.jc-experience-wrap h1 {
  font-size:15px;
}


/* Section 6 */
.jc-section6 h1 {
  font-size:30px;
  font-weight:600;
}
.jc-section6 p {
  font-size:18px;
}
.jc-experience-sec6 {
  box-shadow: 0px 0px 25px rgba(0,0,0,0.20);
  display: block;
  border-radius: 10px;
  background:#fff;
}
.jc-experience-sec6 h1 {
  font-size:25px;
  font-weight: 700;
}
.jc-experience1, .jc-experience2, .jc-experience3, .jc-experience4 {
  padding: 30px;
  border-radius: 50%;
  height: 100px;
  width: 100px;
  background-repeat: no-repeat;
  background-size: auto;
  background-position: center;
  margin: auto;
}

/* Section 7 */
.jc-section7 h1 {
  font-size:30px;
  font-weight:600;
}
.jc-section7 p {
  font-size:18px;
}
.jc-partner a img {
  opacity:0.5;
  filter: grayscale(100%);
  height:130px;
}

.jc-partner a:hover img {
  opacity:1;
  filter: grayscale(0%);
  height:130px;
}

/* Section 8 */
.jc-section8 h1 {
  font-size:30px;
  font-weight:600;
}
.jc-section8 p {
  font-size:18px;
}
.jc-testimonial-item {
  box-shadow: 0px 0px 25px rgb(0 0 0 / 20%);
  display: block;
  border-radius: 10px;
  background: #fff;
}
.jc-testimonial-item h1 {
  font-size:20px
}
.jc-star {
  display: inline-block;
  width: 22px;
  height:22px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: right center;
}
.jc-testimonial-item p {
  font-size:14px;
  font-weight:300;
  line-height:23px;
}

/* Section 9 */
.jc-section9 h1 {
  font-size:30px;
  font-weight:600;
}
.jc-section9 p {
  font-size:18px;
}
.jc-news-wrap {
  box-shadow: 0px 0px 25px rgb(0 0 0 / 20%);
  display: block;
  border-radius: 10px;
  background: #fff;
}
.jc-news-wrap h1 {
  font-size:18px;
}
.jc-news-wrap h2 {
  font-size:16px;
  font-weight:300;
}
.jc-news-wrap p {
  font-size:14px;
  font-weight:300;
}
.jc-news-wrap a {
  font-size:14px;
}

.logo-juaracoding-bottom {
  background-image: url(../img/img_logo_juaracoding.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  width: 120px;
  height: 150px;
  margin:auto;
}
.bottom-logo-wrap {
  margin:auto;
  text-align:center;
}
.jc-bottom-link ul li  {
  list-style: none;
  padding:5px 0px;
}
.jc-bottom-link ul li a {
  font-size:14px;

}
.jc-bottom-link h1 {
  font-size:20px;

}
.jc-copyright a, .jc-copyright p {
  font-size:14px;
  font-weight:300;
}

.btn-social-media-style2 {
  padding: 5px 7px;
  border-radius: 5px;
  cursor: pointer !important;
  display: inline-block;
}

/*  Login  */
.jc-login img {
  width:100%;
}
.jc-login-wrap {
  width:100%;
  border-radius:10px;
  background:#fff;
  overflow: hidden;
  border: 1px solid #ddd;
}
.jc-login-wrap form {
  padding:20px 25px
}
.jc-login-wrap h1 {
  font-size: 20px;
  font-weight: 400;
}
.img-login {
  width:100%;
  height: 600px;
  background-repeat: no-repeat;
  background-position: center;
  background-size:contain;
}
.jc-login-wrap input {
  font-weight: 300;
  font-style: italic;
}
.jc-login-wrap p {
  text-align:center;
  font-weight:300;
}
.jc-form-contact input.form-control  {
  border-radius:50px;
}
.jc-form-contact textarea.form-control {
  border-radius:15px;
}

/* ECourse  */
.jc-title-header {
  padding: 10px 20px;
  left: 0;
  right: 0;
  font-size: 20px;
  font-weight: 500;
  height: 150px
}
.jc-tab {
  background:#fff;
  padding:15px;
  border-top-left-radius: 15px;
  border-top-right-radius:15px;
  border-bottom-left-radius:15px;
  border-bottom-right-radius: 15px;
  min-height:50vh;
}
.jc-course ul {
  padding:0px 20px;
  border:none;
}
.jc-course ul li a.nav-link {
  border-top-left-radius: 15px;
  border-top-right-radius:15px;
  border:none;
}

.jc-box-wrap-line {
  min-height:250px;
  border:1px solid #eee;
  display: block;
  border-radius: 10px;
  padding:15px;
}
.jc-image-course {
  width:100%;
  height:150px;
  border-radius:10px;
  overflow:hidden;
}
.jc-image-course img {
  width:100%
}
.jc-box-wrap-line h1 {
  font-size:18px;
  font-weight:500;
  padding:10px 0px 6px 0px;
  line-height: 24px;
}

.jc-box-wrap-line h2 {
  font-size:14px;
  font-weight:400;
}

.jc-box-wrap-line h3 {
  font-size:14px;
  font-weight:300;
  padding:5px 0px 0px 0px;
  line-height: 20px;
  font-style: italic;
}
.jc-box-wrap-line p {
  font-size:13px;
  font-weight:300;
  padding:5px 0px 0px 0px;
  line-height: 20px;
}
.h-50 {
  height:50vh;
}
.jc-title-header h1 {
  font-weight: 600;
  font-size: 30px;
}




/*  About  */

.jc-about-wrap {
  padding:25px;
  border-radius:15px;
  min-height:50vh;
}
.jc-about-wrap h1 {
  font-size:30px;
  font-weight: 600;
}
.jc-about-wrap h2 {
  font-size:25px;
  font-weight: 400;
}
.jc-about-wrap  p {
  font-size: 15px;
  font-weight: 300;
  line-height: 30px;
}
.jc-about-wrap ul {
  margin-left:20px;
  list-style-type: upper-roman;
}
.jc-about-wrap ul li {
  margin:20px auto 0px auto;
}
.jc-about-wrap img {
  width:100%;
}
.jc-img-about-page  {
  padding:25px 15px;
  border-radius:15px;
  width:400px;
  margin:auto;
}
.jc-team-page h1 {
  font-size: 30px;
  font-weight: 600;
}
.team-wrap {
  padding:25px;
  background:#fff;
  border-radius:15px;
  width:600px;
  margin-right:30px;
  min-height:580px;
  box-shadow: 0px 0px 25px rgb(0 0 0 / 20%);
}
.team-desc h1 {
  font-size: 20px;
  font-weight: 600;
}
.team-desc h2 {
  font-size: 18px;
  font-weight: 300;
}
.team-desc p {
  font-size:14px;
  line-height:27px;
  font-weight:300;
}
.team-photo {
  width:120px;
  height:120px;
  border-radius:50%;
  overflow: hidden;
  margin:auto;
}
.carousel-team .owl-nav, .carousel-testimonial .owl-nav, .carousel-partner .owl-nav , .carousel-news .owl-nav {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  height: 50px;
  margin: auto;
}
.carousel-team .owl-nav button.owl-prev , .carousel-partner .owl-nav button.owl-prev  {
  border-radius:50%;
  height:50px;
  width:50px;
  background-color:rgb(255,255,255);
  float:left;
  margin: auto 0px auto 10px;
  box-shadow: 0px 0px 25px rgb(0 0 0 / 20%);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
.carousel-team .owl-nav button.owl-next ,.carousel-partner .owl-nav button.owl-next  {
  border-radius:50%;
  height:50px;
  width:50px;
  background-color:rgb(255,255,255);
  float:right;
  margin: auto 10px auto 0px;
  box-shadow: 0px 0px 25px rgb(0 0 0 / 20%);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
.carousel-testimonial .owl-nav button.owl-prev  {
  border-radius:50%;
  height:50px;
  width:50px;
  float:left;
  left:-100px;
  margin: auto 0px auto 10px;
  box-shadow: 0px 0px 25px rgb(0 0 0 / 20%);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  position: relative;
}
.carousel-testimonial .owl-nav button.owl-next  {
  border-radius:50%;
  height:50px;
  width:50px;
  float:right;
  right:-100px;
  margin: auto 10px auto 0px;
  box-shadow: 0px 0px 25px rgb(0 0 0 / 20%);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  position: relative;
}
.carousel-news .owl-nav button.owl-prev  {
  border-radius:50%;
  height:50px;
  width:50px;
  float:left;
  left:-100px;
  margin: auto 0px auto 10px;
  box-shadow: 0px 0px 25px rgb(0 0 0 / 20%);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  position: relative;
}
.carousel-news .owl-nav button.owl-next  {
  border-radius:50%;
  height:50px;
  width:50px;
  float:right;
  right:-100px;
  margin: auto 10px auto 0px;
  box-shadow: 0px 0px 25px rgb(0 0 0 / 20%);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  position: relative;
}

/*  Contact */
.jc-contact-wrap {
  border:1px solid #ddd;
  border-radius:10px;
}
.jc-form-contact  {
  width:100%;
}


.icon-location {
  width:20px;
  height:20px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  background-image:url(../img/img_ic_pin.png);
  display: block;
  float:left;
}
.icon-call {
  width:20px;
  height:20px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  background-image:url(../img/img_ic_call.png);
  display: block;
  float:left;
}

.icon-mail {
  width:20px;
  height:20px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  background-image:url(../img/img_ic_message.png);
  display: block;
  float:left;
}

.icon-time {
  width:20px;
  height:20px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  background-image:url(../img/img_ic_clock.png);
  display: block;
  float:left;
}
.jc-contact ul li {
  list-style:none;
  margin:15px auto
}
.jc-contact ul li p {
  margin-left:25px;
  line-height:30px;
}
.jc-contact ul li span {
  margin-top:5px
}
@media screen and (max-width:767px) { 
 
  .bsticky .jc-nav {
    padding: 5px 10px 0px 10px;
    position: fixed;
    left: 0;
    right: 0;
    /* transition: 0.8s; */
  }
  #navbarCollapse ul {
    display:flow-root;
    padding-top: 60px;
  }
  .jc-nav button {
    position: absolute;
    right: 20px;
    top: 120px;

  }
  .bsticky .jc-nav button{
    position: absolute;
    right: 10px;
    top: 13px;
  }
  .bsticky .jc-logo-wrap {
    float:none;
  }
  .jc-landing h1 {
    font-size: 33px;
  }
  .jc-landing {
    padding:0px 15px
  }
  .jc-landing p {
    font-size: 15px;
  }
}

@media screen and (max-width:420px) {
  .jc-section2 {
    margin-top: 200px;
  }
  .btn-sm-top {
    display: none;
  }
  .login-wrap {
    margin:auto;
    float:none;
    text-align: center;
  }
  .jc-section5 h1, .jc-section6 h1 .jc-section7 h1 {
    font-size: 20px;
  }
  .jc-section6 p, .jc-section5 p, .jc-section7 p {
    font-size: 15px;
    font-weight: 200;
    padding-top: 15px;
}
  .jc-landing {
    margin-bottom: 40px;
  }
  .jc-slider-wrap {
    padding-top: 98px !important;
  }
}