/* GLOBAL STYLES
-------------------------------------------------- */
/* Reset CSS
 * --------------------------------------- */
html, body {
  height:100%;
}
 body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,
 form,fieldset,input,textarea,p,blockquote,th,td {
     padding: 0;
     margin: 0;
 }
 a,a:hover{
   text-decoration:none !important;
 }
 table tr td a {
   color:#2B2B2B;
 }
 table {
     border-spacing: 0;
 }
 fieldset,img {
     border: 0;
 }
 address,caption,cite,code,dfn,em,strong,th,var {
     font-weight: normal;
     font-style: normal;
 }
 strong{
   font-weight: bold;
 }
 ol,ul {
     
     margin:0;
     padding:0;
 }
 caption,th {
     text-align: left;
 
 }
 h1,h2,h3,h4,h5,h6 {
    font-weight: normal;
    font-size: 100%;
    margin:0;
    padding:0;
    color:#444;
}
q:before,q:after {
    content:'';
}

abbr,acronym { border: 0;
}

.clear-fix {
  clear:both
}
 
html{
   scroll-behavior: smooth;
}
body, html {
  font-family: 'Poppins', sans-serif;
}
.vh-100 {
  height:100vh;
}

.ic-ar-style1 {
  width: 45px;
  height: 15px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position:right  center;
}
.ic-ar-style2 {
  width: 45px;
  height: 15px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: right center;
}
.btn-circle {
  padding:8px 20px;
  border-radius:50px;
  cursor: pointer !important;
  display: inline-block;
  font-size:15px;
}


.themes-color-pallete {
  position: fixed;
  z-index: 999;
  left:0;
  background:#fff;
  border-radius:8px;
  padding:10px;
  top:150px
}
.position-relative {
  position: relative;
}

.bsticky {
  position:fixed;
  z-index:2;
  left:0;
  right:0;
  top:0
}
.bsticky .jc-top-nav  {
  display: none;
}
.logo-wrap {
  margin:auto;
}

.btn-social-media{
  padding:5px 7px;
  border-radius:5px;
  cursor: pointer !important;
  display: inline-block;
}
.btn-social-media img {
  height:20px
}
.display-flex {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}
/* Nav
-------------------------------------------------- */
.jc-top-nav {
  padding:10px 0px
}
.jc-nav {
  padding:15px 0px;
}
.login-wrap {
  float:right;
}
.logo-juaracoding {
  background-image:url(../img/img_logo_juaracoding.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  width:100px;
  height:100px;
}
.bsticky .logo-juaracoding {
  background-image:url(../img/img_logogram_juaracoding.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  width:50px;
  height:50px;
}

header {
  z-index: 99;
  position: fixed;
  width: 100%;
}
.jc-nav ul li {
  border-radius:50px !important;
  color:#fff;
  padding:8px 15px;
}
.jc-nav ul li a {
  border-radius:50px;
}

/* Slider
-------------------------------------------------- */
.h-100 {
  height: 100%!important;
}
.landing-page {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: left;
  height: 100%;
  float: left;
}
.jc-slider-wrap {
 
  padding-top:140px !important;
}

.jc-landing h1 {
  font-size:50px;
}
.jc-landing p {
  font-size:17px;
}
.jc-section2  img {
  width:100%;
}
.jc-about h1 {
  font-size:25px;
  font-weight:bold;
}
.jc-about p {
  font-size: 16px;
  font-weight:300;
  line-height:28px;
}

/*  Section 3  */
.jc-section3 h1 {
  font-size:30px;
  font-weight:600;
}
.jc-pricelist-wrap {
  min-height:300px;
  box-shadow: 0px 0px 25px rgba(0,0,0,0.20);
  display: block;
  border-radius: 20px;
}
.jc-pricelist-wrap h1 {
  font-size:20px;
  font-weight:400;
}
.jc-pricelist-wrap h2 {
  font-size:22px;
  font-weight:600;
}
.ic_plan {
  width: 30px;
  height: 30px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: right center;
}
.discount {
  border-radius: 6px;
  padding: 4px 20px;
  display: table;
  margin: 10px auto;
  font-weight:bold;
}
.jc-pricelist-wrap h2.subplan {
  font-weight:400;
  font-size:20px;
}
.jc-pricelist-wrap ul li {
  list-style: none;
  float: left;
}
.jc-pricelist-wrap ul {
  display: inline-grid;
  width:100%;
 }
 .jc-pricelist-wrap ul li p {
   margin:5px auto;
   font-size:15px;
   color:#858585;
 }
.ic_check {
  height:30px;
  width:30px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position:center;
  float:left
}
.check-style1 {
  background-image: url(../img/img_check.svg);
}

/*  Section 4  */ 

.jc-box-wrap {
  min-height:350px;
  box-shadow: 0px 0px 25px rgba(0,0,0,0.20);
  display: block;
  border-radius: 20px;
}
.jc-section4 h1 {
  font-size:30px;
  font-weight:600;
}
.jc-benefit1, .jc-benefit2, .jc-benefit3, .jc-benefit4 {
  width:100%;
  height:180px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position:center;
}
.jc-box-wrap h1 {
  font-size:18px;
}

.jc-box-wrap p {
  font-size:14px;
  font-weight: 400;
}


/* Section 5 */

.jc-section5 h1 {
  font-size:30px;
  font-weight:600;
}
.img-qualification1, .img-qualification2, .img-qualification3, .img-qualification4 {
  width:100%;
  height:95px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position:center;
}
.jc-experience p {
  line-height:25px;
}
.jc-experience-wrap {
  box-shadow: 0px 0px 25px rgba(0,0,0,0.20);
  display: block;
  border-radius: 10px;
  background:#fff;
}
.jc-experience-wrap h1 {
  font-size:15px;
}