/* Themes color option 2
-------------------------------------------------- */

.ic-ar-style1 {
  background-image:url(../img/img_ar_orange.svg);
}
a:hover.ic-ar-style1 {
  background-image:url(../img/img_ar_orange.svg);
}
.ic-ar-style2{
  background-image:url(../img/img_ar_white.svg);
}

/* Nav
-------------------------------------------------- */
.jc-top-nav {
  background:#02CACA;
}
.bsticky .jc-nav {
  background: rgba(75,85,97,0.95);
  padding: 5px 0px;
}

.jc-nav  {
  background: rgb(75,85,97)
}
.btn-style1 {
  background: #fff;
  color:#29323D
}
.btn-style2 {
  background: #FFA800;
  color:#fff
}
.btn-style3 {
  background: #FFA800;
  color:#FFF;
}
.btn-style1:hover, .btn-style2:hover, .btn-style3:hover, .btn-social-media:hover {
  background:#FFA800;
  color:#fff
}
.btn-social-media {
  background: #4B5561;
  color:#fff
}
.jc-nav ul li a{
  color:#fff;
}
.jc-nav ul li.active a  {
  background: #FFA800;
}
.jc-slider-wrap {
  background: #4B5561;
}
.jc-landing h1 {
  color:#fff
}
.jc-landing p {
  color:#B1B1B1
}
.jc-landing a {
  color:#FFA800;
}
.jc-landing a:hover {
  color:#FFA800;
}
.jc-section2 {
  background: #14B9B9;
}

.jc-about h1 {
  color:#4B5561;
}
.jc-about h1 span {
  color:#fff
}
.jc-about p {
  color:#fff
}

/*  Section 3 */
.jc-section3 {
  background: #00E398;
}
.jc-pricelist-wrap {
  background: #fff;
}

.plan1 {
  background-image: url(../img/img_plan1.svg);
}
.plan2 {
  background-image: url(../img/img_plan2.svg);
}
.plan3 {
  background-image: url(../img/img_plan3.svg);
}
.discount {
  background:#00E398;
  color:#fff;
}
.price-style {
  color:#00E398;
  font-weight:600;
}

/*  Section 4 */
.jc-section4 {
  background:#434E5B;
}
.jc-section4 h1 {
  color:#fff
}
.jc-section4 h1 span {
  color:#02CACA;
}
.jc-section4 p {
  color:#fff
}
.jc-box-wrap {
  background:#fff;
}
.jc-benefit1 {
  background-image: url(../img/img_benefit1.jpg);
}
.jc-benefit2 {
  background-image: url(../img/img_benefit2.jpg);
}
.jc-benefit3 {
  background-image: url(../img/img_benefit3.jpg);
}
.jc-benefit4 {
  background-image: url(../img/img_benefit4.jpg);
}
.jc-box-wrap h1 {
  color:#434E5B
}
.jc-box-wrap p {
  color:#434E5B
}


/* Section 5 */
.jc-section5 {
  background: #14B9B9;
}
.jc-section5 h1 {
  color: #434E5B
}
.jc-section5 h1 span {
  color:#fff
}
.img-qualification1  {
  background-image: url(../../../img/img_ic_android.png);
}
.img-qualification2  {
  background-image: url(../../../img/img_ic_apple.png);
}
.img-qualification3  {
  background-image: url(../../../img/img_ic_golang.png);
}
.img-qualification4  {
  background-image: url(../../../img/img_ic_react.png);
}

.jc-experience {
  color:#fff
}